@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variaveis*/
:root {
    --color-light: #ffffff;
    --color-fadedyellow: #a1941aa2;
    --color-yellow: #ffe600da;
    --color-lightyellow: #ffbd68;
    --color-fadedred: #ff0000b2;
    --color-lightred: #f74438;
    --color-red: hsl(4, 100%, 50%);
    --color-black: #000000;
    --color-yellowcard: #ffd000a8;
    --color-cardfadein: #ffd257;

    --transition: .5s;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-black);
}
.icone-iara {
    width: 200px;
    height: 30px;
    margin: 5px 5px 5px 35px;
}

.linha {
    background-color: var(--color-light);
    width: 2px;
    height: 35px;
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 10px;
}


nav {
    display: flex;
    margin: 1rem;    
    flex-wrap: nowrap;
    gap: 200px;
    
    
}

ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--color-light);
    font-weight: 500;
    transition: var(--transition);
}

.btn {
    background-color: var(--color-fadedred);
    border: 2px solid var(--color-fadedred);
    padding: 4px;
    border-radius: 10px 10px 10px 2px;
    color: var(--color-light);
    transition: var(--transition);
}

.btn-outline {
    border: 2px solid var(--color-light);
    border-radius: 10px 10px 10px 2px;
    padding: 4px;
}

.btn-bottom {
    background-color: var(--color-fadedyellow);
    border: 2px solid var(--color-fadedyellow);
    padding: 4px;
    border-radius: 3px 20px 20px 3px;
    color: var(--color-light);
    transition: var(--transition);
}

.btn-card {
    margin: 5px 15px;
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    padding: 4px;
    border-radius: 2px 2px 10px 10px;
    color: var(--color-light);
    transition: var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-lightred);
}

.btn-bottom:hover {
    background-color: transparent;
    color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
}

.btn-outline:hover  {
    border: 2px solid var(--color-lightred);
    background-color: transparent;
    color: var(--color-lightred);
    transition: 0.5s ease;
}

.btn-outline:hover i {
    color: var(--color-lightred);
    transition: 0.3s ease;
}

.btn:hover i {
    color: var(--color-lightred);
    transition: 0.3s ease;
}

.btn-bottom:hover i {
    color: var(--color-yellow);
    transition: 0.3s ease;
}

.li-nav {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    margin: 5px;
}

.li-nav:hover {
    color: var(--color-yellow);
}

.btn-card:hover {
    border: 2px solid var(--color-red);
    background: var(--color-red);
    color: var(--color-black);
}

i {
    vertical-align: middle; 
    margin-left: 5px;
    font-size: 15px;
    color: var(--color-light);
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 3.0)), url(../images/backgroundimg.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-content {
    width: 800px;
    padding: 2rem;
    color: var(--color-light);
    margin: 0 0 0 25px;
}

.hero-content h2 {
    font-size: 6vmin;
    color: var(--color-yellow);
}

.hero-content p {
    font-weight: 450;
    margin-bottom: 2rem;
    line-height: 2.9rem;
    letter-spacing: 0.2rem;
}

.jogo-title {
    font-size: 5vmin;
    text-align: center;
    margin: 4rem 0 2rem;
    color: var(--color-fadedred);
}

.jogo-lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px 50px;
    justify-content: space-evenly;
    
}

.jogo-item {
    width: 370px;
    height: 330px;
    margin: 3rem 0;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-items: center;
    padding: 2rem;
    overflow: hidden;
    border-radius:  5px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    color: var(--color-black);
    background: var(--color-yellowcard);
}

.jogo-item:hover {
    height: 500px;
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0px 0px 50px #fd3636;
    background: var(--color-cardfadein);
}

.jogo-item img {
    width: 97%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.5s ease; 
} 

.jogo-item:hover img {
    transform: scale(1.1);
    box-shadow: 2px 10px 60px #000000b7;
}

.jogo-item h3 {
    font-size: 22px;
    width: 90%;
    font-weight: 700;
    margin: 15px 5px;
}

.jogo-item p {
    margin: 5px 0 1rem;
    width: 90%;
}

/* --------------------------Paginas dos jogos-------------------------------*/


#hero2 {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 3.3)), url(../images/1ChronoTeia/img-fundo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    color: var(--color-light);
}

#hero3 {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 3.3)), url(../images/2Horizontes-Perdidos/img-fundo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    color: var(--color-light);
}

#hero4 {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 3.3)), url(../images/3Ecos-do-Abismo/ecoimg\ \(2\).jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    color: var(--color-light);
}

#hero5 {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 3.3)), url(../images/4Lendas-de-Estrelarium/img-fundo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    color: var(--color-light);
}

#hero6 {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 3.3)), url(../images/5Sonhos-de-neon/fundo-img.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    color: var(--color-light);
}

#hero7 {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 3.3)), url(../images/6Reino-sob-as-Cinzas/fundo-img.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    color: var(--color-light);
}


.game-page h2 {
    font-size: 6vmin;
    color: var(--color-lightyellow);
    
    
}

.game-page p, h3, h4 {
    font-weight: 450;
    margin-bottom: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 0.2rem;
}
.game-page h3 {
    color: var(--color-lightyellow);
}

.game-page {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 150px 0;
}

.game-img img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px #000000 ;
    transition: 0.5s;
}
.game-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin: 70px 0 100px 0;
}

.game-img img:hover {
    box-shadow: 0px 0px 30px #ffa149;
    transition: 0.3s;
}


/* botão jogo anterior,voltar topo e proximo jogo*/


.btn-jogo-anterior,
.btn-voltar-topo,
.btn-proximo-jogo {
    border: 2px solid var(--color-yellow);
    padding: 10px;
    color: var(--color-yellow);
    transition: 0.5s;
}

.btn-jogo-anterior {
    border-radius: 20px 5px 5px 0px ;
}

.btn-voltar-topo{
    border-radius: 20px 20px 5px 5px;
}

.btn-proximo-jogo{
    border-radius: 5px 20px 0px 5px ;
}

.btn-down {
    display: flex;
    justify-content: center;
    gap:25% ;
    margin: 100px 0;
}

.btn-jogo-anterior:hover, 
.btn-voltar-topo:hover, 
.btn-proximo-jogo:hover {
    border: 2px solid var(--color-yellow);
    background: var(--color-yellow);
    color: var(--color-black);
    font-weight: 700;
    transition: 0.5s;
}

/* botão jogo anterior,voltar topo e proximo jogo*/




/* --------------------------media queries-------------------------------*/
@media (max-width: 600px) {

    .hero-content h2 {
        font-size: 8vmin;
        text-align: left;
        padding: 0 0 30px;
    }
    .hero-content p {
        text-align: left;
        
    }
    .jogo-item {
        border-radius: 20px;
    }
}

@media (min-width: 1660px) {
    .game-img {
        margin: 70px 15%;
        align-items: center;
    }
}


